@media screen and (width >991px) {
    .container {
        margin-top: 200px;
    }



    .section_1 {
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;
    }

    .section_2_container {
        width: auto;
    }

    .section_2_content {
        width: auto;
    }


}

@media screen and (width <991px) {

    .section_2 {
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;
    }

    .image_1 img {
        width: 500px;
        height: 400px;
    }

    .section_2_content {
        gap: 24px;
        height: 200px;
    }









}

@media screen and (max-width: 991px) {
    .container {
        margin-top: 100px;
        max-width: 563px
    }

    .section_2_container {
        max-width: 460px
    }

    .section_1 {
        height: 800px;
        padding-right: 60px;
        padding-left: 60px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;
    }
}

@media screen and (width < 991px) {

    .header_content {
        width: auto 460px;
        height: 310px;
    }











    footer {
        height: 900px;
    }

    .footer_info {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_column_first {
        width: 100%;
    }

}

@media screen and (width >770px) {
    .dropdown {
        display: none;
    }
}


@media screen and (width <770px) {
    .navigation {
        display: none;
    }

    .hamburger_menu {
        display: flex;
        border-style: none;
        outline: none;
        background-color: rgba(240, 248, 255, 0);
        cursor: pointer;

    }

    header {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .dropdown {
        position: absolute;
        left: 100px;
        width: 70%;
        height: 280px;
        display: none;
        background-color: #232340;
        border-radius: 6px;
        padding: 5px 15px;
        transition: 0.9s ease;
    }

    .dropdown a,
    button {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .dropdown.show {
        display: block;
    }

    .hamburger_menu {
        height: max-content;
    }




    .container {
        max-width: 540px;
        margin-top: 40px;
        margin-left: 40px;
    }





    .header_button {
        width: max-content;
    }




    .section_1 {
        height: auto;
        padding-right: 30px;
        padding-bottom: 60px;
        padding-left: 30px;
        background-position: 100% 100%;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;
    }

    .container_header {
        max-width: 340px;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
    }

    .section_2_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        height: auto;
    }

    .section_2_content {
        display: flex;
        gap: 10px;

    }

    .section_2 {
        padding-top: 0;
        height: 760px;
        height: auto;
        padding-right: 30px;
        padding-bottom: 60px;
        padding-left: 30px;
        background-position: 60% 50%;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;

    }

    .image_1 {
        height: 500px;
        display: flex;
        justify-content: center;
    }

    .section_3 {
        background-position: 60% 50%;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;
    }








.section_6{
    height: 1500px;
    
}


.section_6_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}


    footer {
        background-position: 100% 100%;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: scroll;
    }



}

@media screen and (width <580px) {
    .container {
        width: auto;
        height: auto;
    }

}

@media screen and (width <480px) {
    .input_box {
        display: flex;
        flex-direction: column;
        width: max-content;
    }

    .container {
        margin-left: 20px;
        width: a;
    }

    .header_email {
        width: auto 100%;
    }

    .header_button_2 {
        width: 100%;
    }

    .image_1 img {
        width: 400px;
    }

    .section_3_content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .section_3 {
        height: 1000px;
    }













    footer {
        height: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .footer_info {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (width <380px) {
    * {
        background-attachment: scroll;
        margin: 0;
        padding: 0;
    }

    .container {
        width: auto;
    }

    .container_header {
        width: auto;
    }

    .header_info {
        width: auto;
    }

    .input_box {
        width: auto;
    }

    .header_email {
        width: auto;
    }

    .header_button_2 {
        width: auto;
    }

    .section_2_header {
        max-width: 200px;
    }

    .section_2_header_content {
        max-width: 200px;
    }

    .section_2_content {
        margin-top: 50px;
        align-items: center;
    }

    .section_2 {
        height: 1000px;
    }

    .image_1 {
        max-width: auto 150px;
    }

    .image_1img {
        max-width: auto 100px;
    }

}